/*body {
    background-image: url("../images/captive.jpg");
    background-repeat: no-repeat;
    background-color: #cccccc;
    background-size: 100% 100%;
    overflow: hidden;
}
*/


/*.photo {
    background-image: url('../images/devil3.jpg');
    background-size: 100% 140%;
    background-repeat: no-repeat;
    background-color: black;
   
    display: block;
    width: 100%;
    height: 110%;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    text-indent: 100%;
    overflow: hidden;
    align-self: center;
    animation-name: fadeIn;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    animation-fill-mode:forwards;
    
}*/


.text {
  font-size: 15pt;
  color: white;
  font-family: aerial;
  text-align: center;
}

#start {
  font-size: 15pt;
  font-family: aerial bold;
  animation: type 1s fadeIn(30, end);

  margin-left: 75%;
  text-align: left;
  margin-top: 10%;
  color: white;

  cursor: none;
  user-select: none;
  display: none;

  white-space: nowrap;
  overflow: hidden;
}


a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: gray;
}

/* selected link */
a:active {
    color: gray;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: bold;
}

/*#line1 {
  font-size: 15pt;
  font-family: aerial;
  animation: blurIn 3s 1 ease;
  margin-right: auto;
  margin-left: 45%;
  text-align: left;
  margin-top: 15%;
  color:#997755;
  cursor: none;
  opacity:0.4;
  user-select: none;
  display: none;
  white-space: nowrap;
  overflow: hidden;
  background-image: none !important;
}
*/


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}