body {
	margin: 0;
	padding: 0;
	border: none;

    background-image: url('../images/faces3.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}

.btn {
    position: absolute;
    top: 36%;
    left: 57%;
    display:hidden;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    
    font-size: 16px;
    padding: 20px 40px;
    border: none;
    cursor: pointer;
    opacity: 0;
    text-align: center;
    
}