



#start {
  font-size: 4em;
  font-family: baskerville, baskerville old face;
  animation: type 1s fadeIn(30, end);
 
  text-align: center;
  margin-top: 20%;
  color: red;
font-style: italic;

  cursor: none;
  user-select: none;


  white-space: nowrap;
  overflow: hidden;
}

#line1 {
  font-size: 2em;
  font-family: baskerville, baskerville old face;
  /*animation: type 1s fadeIn(30, end);*/
 
  text-align: center;
  margin-top: 20%;
  color: red;
font-style: italic;

  cursor: none;
  user-select: none;
  display: none;

  white-space: nowrap;
  overflow: hidden;
}

a:link {
    color: red;
}

/* visited link */
a:visited {
    color: red;
}

/* mouse over link */
a:hover {
    color: red;
}

/* selected link */
a:active {
    color: white;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: bold;
}

/*#line1 {
  font-size: 15pt;
  font-family: aerial;
  animation: blurIn 3s 1 ease;
  margin-right: auto;
  margin-left: 45%;
  text-align: left;
  margin-top: 15%;
  color:#997755;
  cursor: none;
  opacity:0.4;
  user-select: none;
  display: none;
  white-space: nowrap;
  overflow: hidden;
  background-image: none !important;
}
*/

