/*body {
    background-image: url("../images/captive.jpg");
    background-repeat: no-repeat;
    background-color: #cccccc;
    background-size: 100% 100%;
    overflow: hidden;
}
*/
body {
    margin: 0;
    padding: 0;
    border: none;
    }

.photo {
    background-image: url('../images/yakshi2.jpg');
background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: black;
   
    display: block;
    width: 100%;
    height: 180%;
        align-self: center;
    overflow: hidden;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    text-indent: 100%;

    animation-name: fadeIn;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    animation-fill-mode:forwards;
    
}



@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}